*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway-regular";
  src: url("./font-family/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-bold";
  src: url("./font-family/static/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Opensans-regular";
  src: url("./font-family/static/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Opensans-bold";
  src: url("./font-family/static/OpenSans-Bold.ttf");
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

/*custom variables*/
:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: #f6f6fe;
  --Light-Gray: hsl(0, 0%, 75%);
  --font-ff-Raleway-regular: "Raleway-regular";
  --font-ff-Raleway-bold: "Raleway-bold";
  --font-ff-OpenSans-regular: "Opensans-regular";
  --font-ff-OpenSans-bold: "Opensans-bold";
}

body {
  font-family: var(--font-ff-OpenSans-regular);
  font-size: 1.6rem;
}

/*header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 2.4rem 0;
}

.logo {
  width: 8rem;
  height: 2.5rem;
}

/*navbar*/
.navbar {
  width: 51%;
  max-width: 36.7rem;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar__list-item {
  font-size: 1.2rem;
  font-family: var(--font-ff-Raleway-regular);
  color: var(--Desaturated-Blue);
}

/*navbar links*/
.navbar__list-item a {
  text-decoration: none;
  color: var(--Desaturated-Blue);
}

/*All your files section*/
.main-img {
  display: block;
  margin: 9.85rem auto 0;
  width: 81%;
  max-width: 56.9rem;
}

/*main description*/
.main-description {
  max-width: 66.2rem;
  margin: 0 auto;
  padding: 3.8rem 0 0;
}

.main-title {
  text-align: center;
  font-family: var(--font-ff-OpenSans-bold);
  color: var(--Very-Dark-Blue);
  font-size: 2.4rem;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
}

.main-text {
  font-size: 1.37rem;
  margin: 2.59rem auto 0;
  text-align: center;
  width: 81.5%;
  line-height: 1.5;
  color: var(--Very-Dark-Blue);
}

/* get started form */
.get-started-form {
  max-width: 39.7rem;
  margin: 3.2rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started-form > * {
  width: 81%;
  border-radius: 3px;
}

#email-input {
  padding: 1.3rem 1.5rem 1rem 2rem;
  border: 1px solid var(--Very-Dark-Blue);
  margin-bottom: 1.7rem;
}

#email-input::placeholder {
  font-size: 1.18rem;
  font-family: var(--font-ff-Raleway-regular);
  color: var(--Light-Gray);
}

.get-started-btn {
  border: none;
  padding: 1.2rem 0 1.2rem 0;
  color: var(--Light-Grayish-Blue);
  background: var(--Bright-Blue);
  font-family: var(--font-ff-Raleway-bold);
  font-size: 1.4rem;
}

.get-started-btn:hover,
#get-early-access-form__btn:hover {
  opacity: 0.5;
}

/*stay productive section*/
.stay-productive-section {
  position: relative;
  margin-top: 14rem;
  padding: 4.1rem 0 8.6rem 0;
  background-color: var(--Light-Grayish-Blue);
}

.stay-productive-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stay-productive-section::before {
  content: "";
  display: block;
  height: 6rem;
  width: 100%;
  background: url("./images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 6rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-88%);
}

.stay-productive-section__image {
  width: 85%;
  max-width: 50.4rem;
  display: block;
  margin: 0 auto;
}

.stay-productive-section__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stay-productive-section__title {
  margin: 9rem 0 2.7rem 0;
  padding: 0 1rem;
  font-size: 1.62rem;
  text-align: center;
  font-family: var(--font-ff-Raleway-bold);
  color: var(--Very-Dark-Blue);
}

.stay-productive-section__text {
  max-width: 61.7rem;
  margin: 1.5rem auto 0;
  padding: 0 1.5rem 0 0;
  width: 89%;
  line-height: 1.5;
  font-size: 1.4rem;
  color: var(--Very-Dark-Blue);
}

.stay-productive-section__text:nth-of-type(1) {
  margin-top: 0;
}

.stay-productive-section__link {
  color: var(--Moderate-Cyan);
  margin-top: 3.49rem;
  padding-bottom: 0.6rem;
  text-decoration: none;
  font-size: 1.17rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--Moderate-Cyan);
}

.stay-productive-section__link:hover {
  opacity: 0.7;
}

.stay-productive-section__link img {
  margin-left: 0.8rem;
}

/*user review*/
.user-review {
  border-radius: 3px;
  background: white;
  margin: 4rem auto 0;
  padding: 1.65rem 1.8rem 1.9rem 2.3rem;
  width: 73.5%;
  max-width: 46.6rem;
}

/*user comment*/
.user-review__comment {
  margin-top: 0.2rem;
  line-height: 1.8;
  font-size: 1rem;
  color: var(--Very-Dark-Blue);
  letter-spacing: 0.2px;
  font-weight: 400;
}

/*user profile*/
.user-profile {
  margin-top: 1.33rem;
  display: flex;
}

/*profile image*/
.user-profile__img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

/*block which contains the user name and role*/
.user-profile__description {
  margin-left: 0.65rem;
}

.user-profile__name {
  font-family: var(--font-ff-OpenSans-bold);
  font-size: 0.88rem;
  letter-spacing: 0.2px;
}

.user-profile__role {
  font-size: 0.68rem;
  font-family: var(--font-ff-OpenSans-bold);
  margin-top: 0.2rem;
}

/*get early access section*/
.get-early-access {
  padding: 5.45rem 0 6.7rem 0;
  background-color: var(--Desaturated-Blue);
}

.get-early-access__title {
  font-size: 1.83rem;
  text-align: center;
  font-family: var(--font-ff-Raleway-bold);
  color: var(--Light-Grayish-Blue);
}

.get-early-access__text {
  margin-top: 1.8rem;
  margin: 1.8rem auto 0;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.6;
  width: 72%;
  max-width: 55.7rem;
  letter-spacing: 0.2px;
  color: var(--Light-Grayish-Blue);
}

/*get early access form*/
.get-early-access-form {
  margin: 2.53rem auto 0;
  display: flex;
  flex-direction: column;
  width: 65%;
  max-width: 39.6rem;
}

.get-early-access-form > * {
  border-radius: 3px;
  border: none;
}

#get-early-access-form__email {
  padding: 0.8rem 1rem 0.9rem;
}

#get-early-access-form__email::placeholder {
  font-size: 0.9rem;
  color: var(--Light-Gray);
  letter-spacing: 0.2px;
}

#get-early-access-form__btn {
  margin-top: 0.8rem;
  background: var(--Bright-Blue);
  color: var(--Light-Grayish-Blue);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-family: var(--font-ff-Raleway-bold);
}

/*footer*/
.footer {
  background: var(--Very-Dark-Blue);
}

.footer .wrapper {
  padding: 7rem 2rem 4rem 4rem;
}

.logo-footer {
  width: 17.3rem;
  height: 5.2rem;
  display: inline-block;
  margin-bottom: 3.6rem;
}

/*contact us information f*/
.contact-us__info {
  color: var(--Light-Grayish-Blue);
  display: flex;
  align-items: center;
}

.contact-us__info:nth-child(2) {
  margin-top: 1.8rem;
}

.contact-us__info p {
  margin-left: 1.8rem;
}

/*text links inside the footer*/
.footer-links-list {
  margin-top: 5.5rem;
  list-style-type: none;
}

.footer-links-list__item + .footer-links-list__item {
  margin-top: 1.6rem;
}

.footer-links-list__item:nth-child(5) {
  margin-top: 5rem;
}

.footer-links-list__item a {
  color: var(--Light-Grayish-Blue);
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.2px;
}

/*socila media icons*/
.social-media-icon-list {
  margin-top: 5.1rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.social-media-icon-list__item + .social-media-icon-list__item {
  margin-left: 1.1rem;
}

.social-media-icon-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icon-list__item a {
  color: var(--Light-Grayish-Blue);
  border: 1px solid var(--Light-Grayish-Blue);
  text-decoration: none;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 1.1rem;
}

.social-media-icon-list__item a:hover {
  color: var(--Bright-Blue);
  border-color: var(--Bright-Blue);
}

.attribution {
  color: var(--Light-Grayish-Blue);
  margin-top: 5rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*### media queries ###*/

/*### 600px ### */
@media (min-width: 600px) {
  header {
    max-width: 115.2rem;
    margin: 0 auto;
  }

  .footer .wrapper {
    max-width: 115.2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
  }

  .logo-footer {
    grid-column: 1 / -1;
  }

  .footer-links-list {
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    grid-gap: 1rem 0;
  }

  .footer-links-list__item {
    margin-top: 0 !important;
  }

  /*socila media icons*/
  .social-media-icon-list,
  .attribution {
    margin-top: 7rem;
    grid-column: 1 / -1;
  }
}

/*## 1440px ##*/
@media (min-width: 1440px) {
  /*header*/
  header {
    padding: 6.5rem 7.9rem 0;
    max-width: 144rem;
    margin: 0 auto;
  }

  .logo {
    width: 16.7rem;
    height: 4.6rem;
  }

  /*navbar*/
  .navbar {
    width: 21%;
  }

  .navbar__list-item {
    font-size: 1.6rem;
  }

  /*main element*/
  .main-img {
    margin: unset;
    order: 1;
  }

  /*all your files section*/
  .all-your-files-section {
    margin: 11.7rem auto 0;
    display: flex;
    justify-content: center;
    padding: 0 7.5rem 0 7.9rem;
    max-width: 1440px;
  }

  .main-img {
    margin: unset;
    max-width: unset;
    width: 635px;
    margin-left: 55px;
  }

  /*main description*/
  .main-description {
    margin: unset;
    max-width: unset;
    width: 68rem;
  }

  .main-title {
    text-align: left;
    margin: unset;
    margin-top: 3.8rem;
    font-size: 3.9rem;
    font-family: var(--font-ff-Raleway-bold);
    width: 100%;
  }

  .main-text {
    text-align: left;
    margin: 2.59rem 0 0;
    font-size: 1.8rem;
    width: 98%;
  }

  /* get started form */
  .get-started-form {
    margin: 3.2rem 0 0;
    max-width: unset;
    flex-direction: row;
  }

  .get-started-form > * {
    width: unset;
  }

  #email-input {
    margin-bottom: unset;
    width: 32rem;
    padding: 1.5rem 1rem 1rem 2.2rem;
  }

  #email-input::placeholder {
    font-size: 1.2rem;
  }

  .get-started-btn {
    width: 19.8rem;
    margin-left: 1.5rem;
  }

  /*stay productive section*/
  .stay-productive-section {
    margin-top: 25rem;
    padding: 10.7rem 7.9rem 10.5rem;
  }

  .stay-productive-section .wrapper {
    max-width: 128.2rem;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
  }

  .stay-productive-section::before {
    background: url("./images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 6rem;
    height: 7.6rem;
    transform: translateY(-78%);
  }

  .stay-productive-section__image {
    order: 1;
    margin: 3rem 0 0 7rem;
    width: 58rem;
    max-width: unset;
    height: 40.8rem;
  }

  .stay-productive-section__description {
    align-items: unset;
  }

  .stay-productive-section__title {
    font-size: 3.9rem;
    margin: 0 0 4rem;
    padding: 0;
    text-align: left;
    width: 67rem;
  }

  .stay-productive-section__text {
    margin: 0 0;
    font-size: 1.6rem;
    max-width: 55rem;
  }

  .stay-productive-section__text:nth-of-type(2) {
    margin-top: 2.4rem;
  }

  .stay-productive-section__link {
    align-self: flex-start;
    font-size: 1.6rem;
  }

  /*user review*/
  .user-review {
    margin: 4rem 0;
    padding: 2.6rem 1.8rem 1.9rem 3.5rem;
    width: 35.7rem;
    border-radius: 5px;
  }

  /*user comment*/
  .user-review__comment {
    font-size: 1.39rem;
    margin-top: 1.9rem;
  }

  /*user profile*/
  .user-profile {
    align-items: center;
  }

  /*profile image*/
  .user-profile__img {
    width: 3rem;
    height: 3rem;
  }

  /*block which contains the user name and role*/
  .user-profile__description {
    margin-left: 0.9rem;
  }

  .user-profile__name {
    font-size: 0.9rem;
  }

  .user-profile__role {
    font-size: 0.75rem;
  }

  /*get early access section*/
  .get-early-access {
    padding: 11rem 7.9rem 9.6rem;
  }

  .get-early-access .wrapper {
    margin: 0 auto;
    max-width: 128.2rem;
    display: flex;
    align-items: flex-start;
  }

  .get-early-access__title {
    text-align: left;
    font-size: 2.9rem;
  }

  .get-early-access__text {
    text-align: left;
    margin: 1.8rem 0 0;
    font-size: 1.5rem;
    width: 83%;
    max-width: 58rem;
  }

  /*get early access form*/
  .get-early-access-form {
    margin: 0 0 0 17rem;
    max-width: 47.8rem;
  }

  #get-early-access-form__email {
    padding: 1.8rem 1rem 1.6rem 2.2rem;
  }

  #get-early-access-form__btn {
    align-self: flex-start;
    padding: 2rem 3.3rem 1.7rem;
    font-size: 1.4rem;
    width: 20rem;
    margin-top: 1.4rem;
  }

  #get-early-access-form__email::placeholder {
    font-size: 1.2rem;
  }

  /*footer*/
  .footer .wrapper {
    grid-template-columns: repeat(3, auto) 1fr;
    padding: 10.5rem 2rem 4rem 7.9rem;
    justify-content: start;
    max-width: 144rem;
  }

  .logo-footer {
    width: 17.6rem;
    height: 5.1rem;
  }

  .footer-links-list {
    margin-left: 21.7rem;
    grid-gap: 1.5rem 19.4rem;
  }

  .social-media-icon-list {
    grid-column: 3;
    margin-top: 0;
    margin-left: 18rem;
    align-self: start;
    justify-self: center;
  }
}
